<!-- <div class="header"> -->

<!-- Revolution Slider -->
<div class="slider-revolution" style="background:linear-gradient(to bottom right,#e74c3c,#c0392b);">
   <div class="rev_slider_wrapper">
      <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
         <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                data-thumb="assets/custom/images/rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                data-title="Slide">
                <!-- Twitter birds -->
                <div class="header-particles" id="particles-js"></div>
               <!-- MAIN IMAGE -->
               <%= image_tag 'trump-main.png', 'data-bgposition':"center center", 'data-bgfit':"cover", 'data-bgrepeat':"no-repeat" %>
               <!-- LAYERS -->


               <!-- LAYER NR. 1 -->

               <div class="tp-caption cap-title font-accident-one-normal tp-resizeme rs-parallaxlevel-1"
                    data-x="center"
                    data-y="center"
                    data-basealign="grid"
                    data-voffset="80"
                    data-hoffset="0"
                    data-width=”auto”
                    data-height=”auto”
                    data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;"
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;"
                    data-start="1400"
                    data-splitin=”none”
                    data-splitout=”none”
                    data-responsive_offset=”on”
                    data-fontsize="['65','59','50','45']"
                    data-lineheight="['120','100','90','80']"
                    style="z-index: 2;">YEAR IN REVIEW
               </div>

               <!-- LAYER NR. 3 -->
               <div class="tp-caption cap-sub-subtitle font-regular-normal tp-resizeme rs-parallaxlevel-1"
                    data-x="center"
                    data-y="center"
                    data-basealign="grid"
                    data-voffset="120"
                    data-hoffset="0"
                    data-width=”auto”
                    data-height=”auto”
                    data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                    data-transform_idle="o:1;"
                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;"
                    data-start="950"
                    data-splitin=”none”
                    data-splitout=”none”
                    data-responsive_offset=”on”
                    style="z-index: 2;">A LOOK BACK AT TRUMP'S FIRST YEAR IN OFFICE
               </div>



               <!-- LAYER NR. 4 -->
               <div class="tp-caption Hero-Button rev-btn  rs-parallaxlevel-0"
                    id="slide-266-layer-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="200"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                    data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"

                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                    data-transform_out="auto:auto;s:700;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                    data-start="3000"
                    data-splitin="none"
                    data-splitout="none"
                    data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
                    data-responsive_offset="on"
                    data-responsive="off"

                    style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">covfefe
               </div>

            </li>


         </ul>
         <!-- <div class="tp-bannertimer"></div> -->
      </div>

   </div>
</div>

<!-- /Revolution Slider -->



  <div id="content" class="bg-color00">
    <!-- Counts Block -->
    <section id="counts" class="counts e-block-ins e-bg-light-texture pt-section" data-stellar-background-ratio="0.5" data-name="Counts">
       <div class="container">
          <div class="count-container row">
             <div class="col-md-12 count">
                <div class="count-icon">
                  <p class="font-accident-two-bold count-text">The President of the United States sent out</p>
                   <!-- <i class="flaticon-photo246"></i> -->
                </div>
                <span class=".integers digit font-accident-two-bold">2,592</span>
                <div class="count-text font-accident-one-bold">
                  <div class="dividewhite2"></div>

                  <p>tweets during his first year in office. I built a tool to analyze his sentiment.</p>
                  <div class="divider-dynamic"></div>
                  <p>Here are the results.</p>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- /Counts Block -->


    <!-- Services Block -->
    <section id="services" class="e-block e-block-centered e-block-skin features-block pt-section" data-name="Services">
       <div class="container">
          <div class="row">
             <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
               <h2 class="font-accident-two-bold fontcolor-medium-light"></h2>
               <h5 class="font-accident-one-bold uppercase hovercolor">Every tweet by day since January 20, 2017</h5>
             </div>
             <div class="col-md-12 dividewhite2"></div>
             <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10"><div id="svg-container"></div></div>
          </div>
       </div>
    </section>
    <!-- /Services Block -->

    <!-- Details Block -->
    <section id="details" class="m-details e-block-ins pt-section" data-stellar-background-ratio="0.5" data-name="Details">
       <div class="container">
          <div class="text-center">
             <h2 class="font-accident-two-bold fontcolor-medium-light">Modern Day Presidential</h2>
             <h5 class="font-accident-one-bold uppercase hovercolor">Some take aways from the data</h5>
          </div>

          <div class="dividewhite8"></div>
          <div class="row">
             <div class="col-md-4 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-heart-empty"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Liked Tweet</h5>
                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                         "Why would Kim Jong-un insult me by calling me "old," when I would NEVER call him "short and fat?" Oh well, I try so hard to be his friend - and maybe someday that will happen!"
                         <a href="https://twitter.com/realDonaldTrump/status/929511061954297857?ref_src=twsrc%5Etfw">November 12, 2017</a>
                      </p>
                      <p class="small fontcolor-medium-light">
                        With 605,488 likes, this was Trump's most liked tweet of the year. For comparison, Barack Obama had the most liked tweet of the year with 4,600,000 likes: "No one is born hating another person because of the color of his skin or his background or his religion..." Aug 12, 2017
                      </p>
                      <div class="morelink"><a href="#!">MORE<i class="fa fa-long-arrow-right right"></i></a></div>
                   </div>
                </div>
             </div>
             <div class="col-md-4 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-share"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Retweeted Tweet</h5>

                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                        <span class="hovercolor"><a href="https://t.co/WYUnHjjUjg">His most retweeted tweet is of him beating up CNN in a wresting match.</a></span> It received 300,000 retweets.
                      </p>
                      <p class="small fontcolor-medium-light">

                         None of his tweets made Twitter's Most-Retweeted Tweets of 2017. The only political figure to make the list, Barack Obama, had three in the top 10 with 1.7M, 800,000, and 600,000 respectively.
One tweet in the top 10 is directed at Trump. "U bum @StephenCurry30 already said he ain't going! So therefore ain't no invite. Going to White House was a great honor until you showed up!" -Lebron James
                      </p>
                  </div>
                </div>
             </div>
             <div class="col-md-4 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-comment"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Commented Tweet</h5>

                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                         "North Korean Leader Kim Jong Un just stated that the “Nuclear Button is on his desk at all times.” Will someone from his depleted and food starved regime please inform him that I too have a Nuclear Button, but it is a much bigger & more powerful one than his, and my Button works!"
                         - <a href="https://twitter.com/realDonaldTrump/status/948355557022420992?ref_src=twsrc%5Etfw">January 3, 2018</a>
                      </p>
                  </div>
                </div>
             </div>

          </div>




          <div class="dividewhite4"></div>
          <div class="row">
            <div class="col-md-4 infoblock">
               <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-bullhorn"></i><div class="dividewhite2"></div></div>
                  <div class="col-lg-9 col-md-8 col-sm-10">
                     <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Negative Day</h5>
                     <div class="dividewhite1"></div>
                     <p class="small fontcolor-medium-light">
                        September 30, 2017, was Trump's busiest day of the year. He sent out a record 25 tweets. Of those, the model found 11 negative tweets. Trump sent out a flurry of tweets aimed at San Juan's Mayor, the media, NFL players, and the Alabama primary.
                     </p>
                     <p class="small fontcolor-medium-light">For some context, this came on the heels of a week that prompted CNN to do <span class="hovercolor"><a href="https://www.cnn.com/2017/09/30/politics/donald-trump-week-in-the-life/index.html">a day-by-day recount</a></span> calling his week "mind-bogglingly bad." </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 infoblock">
               <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-phone"></i><div class="dividewhite2"></div></div>
                  <div class="col-lg-9 col-md-8 col-sm-10">
                     <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Negative Week</h5>
                     <div class="dividewhite1"></div>
                     <p class="small fontcolor-medium-light">
                        01 Oct 2017 - 07 October 2017
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 infoblock">
               <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-calendar"></i><div class="dividewhite2"></div></div>
                  <div class="col-lg-9 col-md-8 col-sm-10">
                     <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">Most Negative Month</h5>
                     <div class="dividewhite1"></div>
                     <p class="small fontcolor-medium-light">
                        September
                     </p>
                  </div>
               </div>
            </div>

          </div>

          <div class="dividewhite4"></div>






          <div class="row">
            <div class="col-md-3 infoblock">
               <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-stats"></i><div class="dividewhite2"></div></div>
                  <div class="col-lg-9 col-md-8 col-sm-10">
                     <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">123 Negative Days</h5>
                     <div class="dividewhite1"></div>
                     <p class="small fontcolor-medium-light">
                        The number of days where at least half of all tweets had a negative sentiment.
                     </p>
                  </div>
               </div>
            </div>
             <div class="col-md-3 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-fire"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">25 Rage Days</h5>
                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                         Number of days with 100% negative tweets.
                      </p>
                  </div>
                </div>
             </div>
             <div class="col-md-3 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-volume-off"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">3 Moments of Silence</h5>
                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                         The number of days Trump did not tweet in the last year. That's 362 days of tweets.
                      </p>
                      <p class="small fontcolor-medium-light">
                         99% of the days he fired off a tweet. Here's when he took a breather: Saturday, 15 April 2017 | Thursday, 08 June 2017 | Friday, 06 October 2017
                      </p>
                  </div>
                </div>
             </div>
             <div class="col-md-3 infoblock">
                <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-2 m-details-ico"><i class="glyphicon glyphicon-thumbs-down"></i><div class="dividewhite2"></div></div>
                   <div class="col-lg-9 col-md-8 col-sm-10">
                      <h5 class="font-accident-one-bold uppercase fontcolor-medium-light">2 per Day</h5>
                      <div class="dividewhite1"></div>
                      <p class="small fontcolor-medium-light">
                         Trump fired off, on average, two negative tweets per day.
                      </p>
                  </div>
                </div>
             </div>
          </div>

          <div class="dividewhite4"></div>

       </div>
    </section>
    <!-- /Details Block -->




  <!-- Pricing tables -->
  <section id="pricing" class="e-block e-bg-light-texture e-block-centered pt-section" data-stellar-background-ratio="0.5" data-name="Prices">
     <div class="container">

        <div class="text-center wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
           <h2 class="font-accident-two-bold fontcolor-medium-light">Most Mentioned People</h2>
           <h5 class="font-accident-one-bold title uppercase hovercolor">Who he likes to talk about</h5>
           <div class="dividewhite4"></div>
           <p class="small fontcolor-medium-light">
              Might want to say something here.
           </p>
        </div>

        <div class="dividewhite8"></div>
        <div class="row">

           <div class="col-md-4">
              <div class="pricing plain">
                 <div class="price-attrs">
                    <div class="price-number font-accident-two-bold-italic">01</div>
                    <div class="price-plan font-accident-one-normal">Himself</div>
                    <div class="price-descr"><strong> <%= @trump_tweets.size %> </strong> mentions of himself</div>
                    <div class="price-conclusion">That's an average of one every 16 hours.</div>
                 </div>
                 <div class="dividewhite4"></div>

                 <button type="button" class="btn btn-default btn-lgr-str"  onclick='$("#trump-tweets").toggle()'>See all</button>
                 <div id="trump-tweets">
                   <% @trump_tweets.each do |t| %>
                     <p><%= t.content %></p>
                   <% end %>
                 </div>
              </div>
              <div class="dividewhite4"></div>
           </div>
           <div class="col-md-4">
              <div class="pricing plain">
                 <div class="price-attrs">
                    <div class="price-number font-accident-two-bold-italic">02</div>
                    <div class="price-plan font-accident-one-normal">Hillary Clinton</div>
                    <div class="price-descr"><strong> <%= @clinton_tweets.size %> </strong> mentions of Clinton</div>
                    <div class="price-conclusion">Contrary to Kellyanne Conway's "Nobody here talks about Hillary Clinton" statement, Hillary Clinton is the second most mentioned person in Trump's tweets behind Trump himself.</div>
                 </div>
                 <div class="dividewhite4"></div>
                 <button type="button" class="btn btn-default btn-lgr-str"  onclick='$("#clinton-tweets").toggle()'>See all</button>
                 <div id="clinton-tweets">
                   <% @clinton_tweets.each do |t| %>
                     <p><%= t.content %></p>
                   <% end %>
                 </div>
              </div>
              <div class="dividewhite4"></div>
           </div>
           <div class="col-md-4">
              <div class="pricing plain">
                 <div class="price-attrs">
                    <div class="price-number font-accident-two-bold-italic">03</div>
                    <div class="price-plan font-accident-one-normal">Barack Obama</div>
                    <div class="price-descr"><strong> <%= @obama_tweets.size %> </strong> mentions of Obama</div>
                    <div class="price-conclusion"></div>
                 </div>
                 <div class="dividewhite4"></div>

                 <button type="button" class="btn btn-default btn-lgr-str"  onclick='$("#obama-tweets").toggle()'>See all</button>
                 <div id="obama-tweets">
                   <% @obama_tweets.each do |t| %>
                     <p><%= t.content %></p>
                   <% end %>
                 </div>
              </div>
              <div class="dividewhite4"></div>
           </div>

        </div>

     </div>
  </section>
  <!-- /Pricing Tables -->


  <!-- Worst Tweets -->


  <section id='worst-tweets' class="bg-color12">
    <div class="dividewhite4"></div>

    <div class="container">
      <div class="text-center">
        <h2 class="font-accident-two-bold fontcolor-medium-light">Hall of Shame</h2>
        <h5 class="font-accident-one-bold uppercase hovercolor">The 100 worst tweets as determined by sentiment analysis</h5>
        <div class="dividewhite4"></div>

        <div class="row">

          <div class="col-xs-12 col-sm-12 col-sm-offset-2 col-md-12 col-md-offset-3 col-lg-12 col-lg-offset-3">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Lightweight Senator Kirsten Gillibrand, a total flunky for Chuck Schumer and someone who would come to my office “begging” for campaign contributions not so long ago (and would do anything for them), is now in the ring fighting against Trump. Very disloyal to Bill &amp; Crooked-USED!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/940567812053053441?ref_src=twsrc%5Etfw">December 12, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="col-xs-12 col-sm-12 col-sm-offset-2 col-md-12 col-md-offset-3 col-lg-12 col-lg-offset-3">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Wow, Matt Lauer was just fired from NBC for “inappropriate sexual behavior in the workplace.” But when will the top executives at NBC &amp; Comcast be fired for putting out so much Fake News. Check out Andy Lack’s past!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/935844881825763328?ref_src=twsrc%5Etfw">November 29, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="col-xs-12 col-sm-12 col-sm-offset-2 col-md-12 col-md-offset-3 col-lg-12 col-lg-offset-3">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Crooked Hillary Clinton is the worst (and biggest) loser of all time. She just can’t stop, which is so good for the Republican Party. Hillary, get on with your life and give it another try in three years!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/931877599034388480?ref_src=twsrc%5Etfw">November 18, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

          <div class="col-xs-12 col-sm-12 col-sm-offset-2 col-md-12 col-md-offset-3 col-lg-12 col-lg-offset-3">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Why would Kim Jong-un insult me by calling me &quot;old,&quot; when I would NEVER call him &quot;short and fat?&quot; Oh well, I try so hard to be his friend - and maybe someday that will happen!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/929511061954297857?ref_src=twsrc%5Etfw">November 12, 2017</a></blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

        </div>
      </div>
    </div>
    <div class="divider-dynamic"></div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-default btn-lgr-str"  onclick='$("#hall-of-shame-tweets").toggle()'>See all</button>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div id="hall-of-shame-tweets">
          <% @hall_of_shame.each do |t| %>
          <p><%= t.content %> <br> - President of the United States, <%= link_to t.date, "https://twitter.com/realDonaldTrump/status/#{t.twitter_id}" %></p>

          <% end %>
        </div>
      </div>

      <div class="col-sm-3 col-md-4"></div>

  </section>
  <!-- /Worst Tweets -->
</div>
